name: update
run-name: Rebuild snap and update release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag
        required: true
        type: string
      channel:
        description: Channel
        required: true
        type: choice
        default: edge
        options:
        - stable
        - candidate
        - beta
        - edge
        - none
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
      channel:
        required: false
        type: string

jobs:

  build:
    runs-on: ${{ matrix.builder }}
    strategy:
      matrix:
        include:
          - builder: ubuntu-latest
            arch: amd64
    steps:
    - uses: kaisugi/action-regex-match@v1.0.1
      with:
        text: ${{ github.ref_name }}
        regex: '^[\d\.]+-?(beta|rc)?([\d\.]+)?snap\d+$'
      id: regex
    - uses: actions/checkout@v4
    - uses: ./.github/actions/build
      with:
        tag: ${{ inputs.tag }}
      id: build
    - run: echo "${{ matrix.arch }}=${{ steps.build.outputs.snap }}" >> $GITHUB_OUTPUT
      id: snap
    outputs:
      amd64: ${{ steps.snap.outputs.amd64 }}
      channel: ${{ steps.channel_regex.outputs.group1 }}

  scan:
    needs: build
    runs-on: ${{ matrix.builder }}
    strategy:
      matrix:
        include:
          - builder: ubuntu-latest
            arch: amd64
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/scan
      with:
        snap: ${{ needs.build.outputs[matrix.arch] }}

  test:
    needs: build
    runs-on: ${{ matrix.builder }}
    strategy:
      matrix:
        include:
          - builder: ubuntu-latest
            arch: amd64
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/test
      with:
        snap: ${{ needs.build.outputs[matrix.arch] }}

  release:
    needs:
      - build
      - test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/release
      with:
        tag: ${{ inputs.tag }}
        channel: ${{ inputs.channel || needs.build.outputs.channel || 'stable' }}
        update: true

  publish:
    if: ${{ inputs.channel != 'none' }}
    needs:
      - build
      - test
    runs-on: ${{ matrix.builder }}
    strategy:
      matrix:
        include:
          - builder: ubuntu-latest
            arch: amd64
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/publish
      with:
        snap: ${{ needs.build.outputs[matrix.arch] }}
        channel: ${{ inputs.channel || needs.build.outputs.channel || 'stable' }}
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}
